{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
		"plugin:@shopify/typescript",
		"plugin:@shopify/typescript-type-checking"
  ],
	"parserOptions": {
    "project": "tsconfig.json"
  }
}