div.cardContent {
	transition: 0.3s;
	opacity: 1;
	display: flex;
	align-items: center;
	background-image: radial-gradient(#212330, #2b2c35);
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 4px 0 rgba(0, 0, 0, 0.19);
	padding: 2%;
	border-radius: 15px;
	margin: 2% 3% 2% 3%;
	cursor: pointer;
}

div.cardContent-disappear {
	transition: 0.3s;
	opacity: 0;
}

div.cardContent:hover {
	transition: 0.5s;
	box-shadow: 0 0px 8px 0 rgba(255, 255, 255, 0.2), 0 0px 10px 0 rgba(255, 255, 255, 0.19);
	transform: translate3D(0,-1px,0) scale(1.03);
}

.poster {
	height: auto;
	width: 6vw;
	margin-right: 3%;
	flex-shrink: 1;
}

div.buttonSpacing {
	flex-grow: 1;
}

@media screen and (max-width: 700px) {
	.poster {
		height: auto;
		width: 10vw;
		margin-left: 4%;
	}
}