div.cardContent {
	transition: 0.3s;
	opacity: 1;
	display: flex;
	align-items: center;
	background-color: gray;
	padding: 2%;
	border-radius: 20px;
	margin-bottom: 3%;
	cursor: pointer;
}

div.cardContent-disappear {
	transition: 0.3s;
	opacity: 0;
}

div.cardContent:hover {
	transition: 0.3s;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
}

.poster {
	height: 15vh;
	width: auto;
	margin-right: 3%;
}

div.buttonSpacing {
	flex-grow: 1;
}

@media screen and (max-width: 700px) {
	.poster {
		margin-left: 5%;
	}
}