div.nominationCard {
	display: flex;
	margin-top: 2%;
	margin-bottom: 2%;
	cursor: pointer;
}

div.spacing {
	flex-grow: 1;
}

li.nominationCard {
	transition: 0.3s;
	opacity: 1;
}

li.nominationCard-disappear {
	transition: 0.3s;
	opacity: 0;
}

li:hover {
	transform: translate3D(0,-1px,0) scale(1.03);
}