div.movieListRoot {
	flex-grow: 6;
	width: 40vw;
}

h1.movieListTitle {
	line-height: 1.0;
	font-size: 2.7rem;
	margin-bottom: 2%;
}

p.movieListInit {
	font-size: 1.7rem;
}

div.scroll {
	overflow-y: auto;
	max-height: 60vh;
}

@media only screen and (max-width: 700px) {
	div.movieListRoot {
		margin-bottom: 5%;
		border-radius: 0px;
		width: auto;
	}

	div.scroll {
		max-height: 30vh;
	}
}