div.movieListRoot {
	flex-grow: 8;
}

h1.movieListTitle {
	line-height: 1.0;
	font-size: 2.7rem;
	margin-bottom: 2%;
}

p.movieListInit {
	font-size: 1.7rem;
}

@media only screen and (max-width: 700px) {
	div.movieListRoot {
		margin-bottom: 5%;
		border-radius: 0px;
	}
}