div.errorBanner {
	margin-top: -300px;
	transition: 0.3s;
}

div.errorBanner-show {
	margin-top: 0px;
	transition: 0.5s;
}

div.successBanner {
	margin-top: -300px;
	transition: 0.3s;
}

div.successBanner-show {
	width: 100%;
	margin-top: 0px;
	transition: 0.5s;
}