div.notificationRoot {
	z-index: 100;
	margin-bottom: 2%;
	position: absolute;
	width: 90%;
	left: 50%;
  transform: translate(-50%);
}

div.errorBanner {
	margin-top: -300px;
	transition: 0.3s ease-in;
}

div.errorBanner-show {
	margin-top: 0px;
	transition: 0.6s ease-in;
}

div.successBanner {
	margin-top: -300px;
	transition: 0.3s ease-in;
}

div.successBanner-show {
	margin-top: 0px;
	transition: 0.6s ease-in;
}